@import url('https://fonts.googleapis.com/css?family=Open+Sans:800|Poppins:500');



html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.landing {
  height: 100%;
  width: 100%;
  margin: auto;
  background: url(img/background.jpg) no-repeat 50% 50%;
  background-size: cover;
  display: table;
  top: 0;
}

.landing .inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding-bottom: 20%;
  padding-right: 3%;
}

.content h1 {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  font-size: 550%;
  text-shadow: 3px 3px 	#B9B9B9;
}

.btn {
  font-size: 150%;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: white;
  background-color: black;
  border: 2px solid grey;
  padding: 10px 20px;
  border-radius: 5px;
}

.btn:hover {
  color: #B9B9B9;
  border: 2px solid 	#B9B9B9;
}
p {
  font-family: sans-serif;
  font-size: 120%;
  line-height: 190%;
  text-align: justify;
  margin: 3%;
}

/* News-newsletter */
#newsletterForm {
  margin: 0 auto;
  margin-bottom: 0 auto;
}
.widget_blog_subscription {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	position: relative;
	overflow: hidden;
	background-color: black;
}
.widget_blog_subscription p {
	margin: 0;
	text-align: center;
}
.widget_blog_subscription p:first-child {
	margin: 40px 15px 0;
	color: white;
	text-transform: uppercase;
	text-align: center;
	font-size: 40px;
	font-family: 'PT Sans Narrow', sans-serif;
	letter-spacing: 1px;
}
.widget_blog_subscription input[type="text"] {
	margin: 15px 5px;
	color: black;
	padding: 25px 15px !important;
	text-align: center;
	width: 100% !important;
	max-width: calc(100% - 90px);
	outline: none;
	border: 0;
	text-transform: uppercase;
	font-size: 12px;
}
.widget_blog_subscription input[type="text"]::-webkit-input-placeholder {
	color: black;
}
.widget_blog_subscription input[type="text"]:-moz-placeholder {
	color: grey;
}
.widget_blog_subscription input[type="text"]::-moz-placeholder {
	color: #69D2E7;
}
.widget_blog_subscription input[type="text"]:-ms-input-placeholder {
	color: #69D2E7;
}
.widget_blog_subscription input[type="submit"] {
	margin: 0;
	background-color: grey;
	color: #fff;
	padding: 25px 15px !important;
	text-align: center;
	width: 100%;
	max-width: 100%;
	outline: none;
	border: 0;
	text-transform: uppercase;
	font-size: 12px;
	cursor: pointer;
	-webkit-transition: .1s all ease-in-out;
	-moz-transition: .1s all ease-in-out;
	-o-transition: .1s all ease-in-out;
	transition: .1s all ease-in-out;
}
.widget_blog_subscription input[type="submit"]:hover {
	background-color: white;
  color: black;
}

@media (max-width: 768px){
  p {
    font-size: 100%;
    line-height: 160%;
  }
  .widget_blog_subscription p:first-child {
  	margin: 40px 15px 0;
  	color: white;
  	text-transform: uppercase;
  	text-align: center;
  	font-size: 20px;
  	font-family: 'PT Sans Narrow', sans-serif;
  	letter-spacing: 1px;
  }
  .widget_blog_subscription input[type="text"] {
  	margin: 15px 5px;
  	color: black;
  	padding: 25px 15px !important;
  	text-align: center;
  	width: 100% !important;
  	max-width: calc(100% - 90px);
  	outline: none;
  	border: 0;
  	text-transform: uppercase;
  	font-size: 10px;
  }
}
